/Assignments/Java Basics/WindowMasterV2/nbproject/private/
/Assignments/Java Basics/WindowMasterV2/dist/
/Assignments/Java Basics/WindowMasterV2/build/
/PBD/Basics/Complier Check/nbproject/private/
/PBD/Basics/Complier Check/build/
/PBD/Basics/Compiling Practice/nbproject/private/
/PBD/Basics/An Important Message/nbproject/private/
/PBD/Basics/FirstProg/nbproject/private/
/PBD/Basics/FirstProg/build/
/PBD/Basics/GoodFirstProgram/nbproject/private/
/PBD/Basics/GoodFirstProgram/build/
/PBD/Basics/CommentsAndSlashes/nbproject/private/
/PBD/Basics/CommentsAndSlashes/build/
/PBD/Basics/LetterToYourself/nbproject/private/
/PBD/Basics/LetterToYourself/build/
/PBD/Basics/YourInitials/nbproject/private/
/PBD/Basics/YourInitials/build/
/PBD/Basics/NumbersAndMath/nbproject/private/
/PBD/Basics/NumbersAndMath/build/